<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/fonts/css/all.css">
    <link rel="stylesheet" href="../static/fonts/css/fontawesome.css">
    <link rel="stylesheet" href="../static/fonts/css/brands.css">
    <link rel="stylesheet" href="../static/fonts/css/solid.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/css.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block content %}{% endblock %}
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <script src="../static/js/js.js"></script>
</body>
</html>