{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}



<div class="row row-cols-md-3 g-4 container-fluid d-flex flex-direction">
      <h6 class="text-white w-100 text-center"> Ganha uma Recarga de 50 da Vodacom para Cada Jogo Ganho</h6>
      <div class="col-md-4 custom-height w-100">
            <div class="d-flex w-100">
                  <h4 class="bg-light m-1 d-flex justify-content-center align-items-center rounded p-1 w-100">Puzzle</h4>
            </div>
            <div class="w-100 d-flex">
                  <li class="navbar bg-light m-1 d-flex justify-content-center align-items-center rounded p-1 w-100">
                      Numero de Clicks
                  </li>
                  <li class="navbar bg-light m-1 d-flex justify-content-center align-items-center rounded p-1 w-100">
                        novo Jogo
                  </li>
                  <li class="navbar bg-light m-1 d-flex justify-content-center align-items-center rounded p-1 w-100">

                  </li>
            </div>
            <div class="puzzle w-100 h-100 bg-primary d-flex flex-wrap">
                  {% for numero in numeros %}
                        {% if numero !=0 %}
                              <div class="numero-square">{{ numero }}</div>
                        {% endif %}
                  {% endfor %}
            </div>
      </div>
</div>

<script>
document.getElementById('nivelSelect').addEventListener('change', function() {
    var nivel = this.value;
    window.location.href = '/?nivel=' + nivel;
});
</script>

{% endblock %}

let botaoVazio;
if (linha > 0 && document.querySelector(`[data-linha="${linha-1}"][data-coluna="${coluna}"]`).innerHTML === '') {
    botaoVazio = document.querySelector(`[data-linha="${linha-1}"][data-coluna="${coluna}"]`);
} else if (linha < 3 && document.querySelector(`[data-linha="${linha+1}"][data-coluna="${coluna}"]`).innerHTML === '') {
    botaoVazio = document.querySelector(`[data-linha="${linha+1}"][data-coluna="${coluna}"]`);
} else if (coluna > 0 && document.querySelector(`[data-linha="${linha}"][data-coluna="${coluna-1}"]`).innerHTML === '') {
    botaoVazio = document.querySelector(`[data-linha="${linha}"][data-coluna="${coluna-1}"]`);
} else if (coluna < 3 && document.querySelector(`[data-linha="${linha}"][data-coluna="${coluna+1}"]`).innerHTML === '') {
    botaoVazio = document.querySelector(`[data-linha="${linha}"][data-coluna="${coluna+1}"]`);
}

// Se houver um botão vazio adjacente, mover o botão clicado para o espaço vazio
if (botaoVazio) {
    botaoVazio.innerHTML = botao.innerHTML;
    botao.innerHTML = '';
    contadorMovimentos++; // atualizar o contador de movimentos
    document.querySelector('.menu span').textContent = `move: ${contadorMovimentos}`; // atualizar o texto do span
}