{% extends "base.html" %}

{% block title %}Puzzle{% endblock %}

{% block content %}
<!-- elemento 1: sao apresentados resultados do jogo: ganhou | perdeu -->
<div class="fixed-top w-100 h-100 d-none fim align-items-center justify-content-center">
    <div class="alert alert-danger bg-white p-4 d-none perder align-items-center justify-content-center flex-column">
        <h6>voce perdeu</h6>
        <button class="btn btn-primary mt-4">ok</button>
    </div>
    <div class="alert alert-success bg-white p-4 d-none ganhar align-items-center justify-content-center flex-column">
        <h4>Parabens</h4>
        <h6 class="recarga d-flex justify-content-center">
            Recarga:
            <span id="codigo"></span>
        </h6>
        <button class="btn btn-primary mt-4">ok</button>
    </div>
</div>
<!-- fim elemento 1 -->
<div class="cont py-5">

    <h5 class="text-warning">PUZZLE 4X4</h5>

    <div class="operadora d-flex">
        <label class="w-100 d-flex flex-column">
            <span class="text-light">Operadora</span>
            <select class="form-select select-operadora">
                {%for operadora in operadoras %}
                    <option value="{{ operadora }}">{{ operadora }}</option>
                {% endfor %}
            </select>
        </label>
    </div>

    <div class="recarga d-flex">
        <label class="d-flex w-100 flex-column">
            <span class="text-light">Recarga</span>
            <select class="form-select select-valor">
                {%for valor_r in valores %}
                    <option value="{{ valor_r }}">{{ valor_r }}</option>
                {% endfor %}
            </select>
        </label>
    </div>

    <div class="d-flex menu menu p-2 text-dark bg-light justify-content-between align-items-center">
        <button class="btn btn-primary rounded">
            Start
        </button>
        <span class="move">
            move: 0
        </span>
        <span class="time">
          time: 250
        </span>
    </div>

    <div class="puzzle puzzle-container">
        {% for botao in numeros %}
              {% if botao.valor %}

                  <button class="button">
                    <span class="span" data-linha="{{ botao.linha }}" data-coluna="{{ botao.coluna }}">{{ botao.valor }}</span>
                  </button>

              {% else %}

                  <button class="button"><span class="span" data-linha="{{ botao.linha }}" data-coluna="{{ botao.coluna }}"></span></button>

              {% endif %}
              {% if loop.index % 4 == 0 %}
                </tr><tr>
              {% endif %}
            {% endfor %}
    </div>
</div>
<a class="fixed-top p-2" href="/estatisticas">
    <button class="btn btn-primary"><i class="fa-solid fa-chart-line"></i></button>
</a>
<div class="modal fade" id="popup" tabindex="-1" aria-labelledby="popupLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="popupLabel">Anúncio</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Conteúdo do anúncio aqui</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
